.list-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}
@media screen and (max-width: 768px) {
  .list-cont {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
.failure-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fail-img {
  width: 50vw;
  height: 50vh;
  margin-bottom: 10px;
}

.pa {
  font-size: 20px;

  font-family: 'Roboto';
  color: #475569;
}

.err {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #1e293b;
}
.button {
  background-color: #4656a1;
  border-radius: 5px;
  border-width: 0px;
  width: 80px;
  height: 30x;
  color: #ffffff;
}

.title {
  font-size: 30px;
  margin: 20px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #1e293b;
}
.bg-cont {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
